<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Done</th>
        <th>Update</th>
        <th>Importance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let toDo of toDoList'>
        <th>{{toDo.name}}</th>
        <th>{{toDo.description}}</th>
        <th>{{toDo.Date}}</th>
        <th></th>
        <th></th>
        <th>{{toDo.importance}}</th>
      </tr>
    </tbody>
  </table>
</div>
