<h1>Welcome {{username}} to you ToDoList </h1>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Done</th>
        <th>Edit</th>
        <th>Importance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let toDo of toDoList; index as i;'>
        <td>{{ toDo.name }}</td>
        <td>{{ toDo.description }}</td>
        <td>{{ toDo.date | date}}</td>
        <td><button type="button" class="btn btn-success">Done</button></td>
        <td><button type="button" class="btn btn-dark" (click)="showToDoForm(toDoList[i], i)">Edit</button></td>
        <td>{{ toDo.importance }}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-to-do-form *ngIf="enableEdit" [toDoReceivedInForm]="toDoToEdit" [index]="index"></app-to-do-form>
